<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class ="imagenFondo">
  <div class="container">
    <form class="form-horizontal" role="form">
      <h2>Actualizacion de datos</h2>
      <div class="form-group">
        <label for="firstName" class="col-sm-3 control-label">Nombre</label>
        <div class="col-sm-9">
          <input type="text" id="FirstName" placeholder="First Name" value={{message.nombre}} class="form-control" autofocus>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName" class="col-sm-3 control-label">Apellido</label>
        <div class="col-sm-9">
          <input type="text" id="LastName" placeholder="Last Name" value={{message.apellidos}} class="form-control" autofocus>
        </div>
      </div>
      <div class="form-group">
        <label for="Provincia" class="col-sm-3 control-label">Provincia</label>
        <div class="col-sm-9">
          <input type="text" id="Provincia" placeholder="Provincia" value={{message.provincia}} class="form-control" autofocus>
        </div>
      </div>
      <div class="form-group">
        <label for="Canton" class="col-sm-3 control-label">Canton</label>
        <div class="col-sm-9">
          <input type="text" id="Canton" placeholder="Canton" value={{message.canton}} class="form-control" autofocus>
        </div>
      </div>
      <div class="form-group">
        <label for="Distrito" class="col-sm-3 control-label">Distrito</label>
        <div class="col-sm-9">
          <input type="text" id="Distrito" placeholder="Distrito" value={{message.distrito}} class="form-control" autofocus>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Clave</label>
        <div class="col-sm-9">
          <input type="password" id="Password" value={{message.password}} placeholder="Password" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="phoneNumber" class="col-sm-3 control-label">Numero de Telefono</label>
        <div class="col-sm-9">
          <input type="text" id="PhoneNumber" placeholder="Numero de telefono" value={{message.telefono}} class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="sinpe" class="col-sm-3 control-label">Sinpe</label>
        <div class="col-sm-9">
          <input type="text" id="SinpeMovil" placeholder="Sinpe movil" value={{message.sinpe}} class="form-control">
        </div>
      </div>
      <div class="form-group">
      </div>
      <button [mat-dialog-close]="true" (click)="actualizarDatos()" type="submit" class="btn btn-primary btn-block">Actualizar Datos</button>
      <button [mat-dialog-close]="true" href="#" class="Cbtn btn-light btn-block">Volver</button>
    </form> <!-- /form -->
  </div> <!-- ./container -->
</div>
