<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />

<div class="container-fluid">
  <h1>Pedidos Realizados</h1>
  <div class = "row">
    <div class="col-lg-6 col-md-6 col-sm-6" *ngFor='let pedido of httpService.pedidos'>
        <div class="tile">
            <div class="stats">
              <div>
                <strong>Cliente</strong> {{pedido.nombre}} {{pedido.apellido}}
              </div>
            </div>
            <div class="stats">
              <div>
                <strong>Direccion:</strong> {{pedido.direccion}}
              </div>
            </div>
            <div class="stats">
              <div>
                <strong>Teléfono:</strong> {{pedido.telefono}}
              </div>
            </div>
          <div class="stats">
            <div>
              <strong>Total:</strong>  {{pedido.listado[0][2]|currency:"₡":"symbol"}}
              <button mat-button class = "mat-boton" (click)="post()">Postear</button>
            </div>
          </div>
            <div class="footer">
              <button mat-button class = "mat-boton" (click)="openDialog(pedido)">Ver Pedido</button>
            </div>
        </div>
    </div>
  </div>
</div>
