<!DOCTYPE html>
<html lang="es">
<!-- Page Title (Shop)-->
<div class="page-title-overlap bg-dark pt-4">
  <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
    <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
    </div>
    <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
      <h1 class="h3 text-light mb-0">Su Carrito</h1>
    </div>
  </div>
</div>
<!-- Page Content-->
<div class="container pb-5 mb-2 mb-md-4">
  <div class="row">
    <!-- List of items-->
    <section class="col-lg-8">
      <div class="d-flex justify-content-between align-items-center pt-3 pb-2 pb-sm-5 mt-1">
        <h2 class="h6 text-light mb-0">Productos</h2><a mat-button [mat-dialog-close]="productos" class="btn btn-light btn-lg"><i class="czi-arrow-left mr-2"></i>Continuar Comprando</a>
      </div>
      <!-- Item-->
      <div class="d-sm-flex justify-content-between align-items-center my-4 pb-3 border-bottom" *ngFor="let producto of productos">
        <div class="media media-ie-fix d-block d-sm-flex align-items-center text-center text-sm-left"><a class="d-inline-block mx-auto mr-sm-4"  style="width: 10rem;">
          <img src={{producto.foto}}, style="height:80px; width:70px; border: 2px solid black; position:relative; background-size: cover;"></a>
          <div class="media-body pt-2">
            <h3 class="product-title font-size-base mb-2"><a href="#">{{producto.nombre}}</a></h3>
            <div class="font-size-sm"><span class="text-muted mr-2">En Bodega:</span>{{producto.disponibilidad}}</div>
            <div class="font-size-sm"><span class="text-muted mr-2">Modo de venta:</span>{{producto.modo}}</div>
            <div class="font-size-lg text-accent pt-2">{{producto.precio|currency:"₡":"symbol"}}</div>
          </div>
        </div>
        <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 9rem;">
          <div class="form-group mb-0">
            <label class="font-weight-medium" for="{{producto.nombre}}">Cantidad</label>
            <input class="form-control-file" type="number" id="{{producto.nombre}}" min="1"  max="{{producto.disponibilidad}}" placeholder="Quantity" [value]="producto.cantidad == undefined ? 1:producto.cantidad" formControlName="product_quantity" (click)="updateTotal()">
          </div>
          <button class="btn btn-link px-0 text-danger" type="button" (click)="remove(producto)"><i class="czi-close-circle mr-2"></i><span class="font-size-sm">Quitar</span></button>
        </div>
      </div>
      <button class="btn btn-outline-accent btn-block" type="button" (click)="updateTotal()" ><i class="czi-loading font-size-base mr-2"></i>Actualizar Valor</button>
    </section>
    <!-- Sidebar-->
    <aside class="col-lg-4 pt-4 pt-lg-0">
      <div class="cz-sidebar-static rounded-lg box-shadow-lg ml-lg-auto">
        <div class="text-center mb-4 pb-3 border-bottom">
          <h2 class="h6 mb-3 pb-1">Subtotal</h2>
          <h3 class="font-weight-normal">{{subTotal|currency:"₡":"symbol"}}<small></small></h3>
        </div>
        <div class="form-group mb-4">
          <label class="mb-3" for="notas"><span class="badge badge-info font-size-xs mr-2">Nota</span><span class="font-weight-medium">Instrucciones Adicionales</span></label>
          <textarea class="form-control" rows="6" id="notas"></textarea>
        </div>
        <div class="accordion" id="order-options">
        </div><a class="btn btn-primary btn-shadow btn-block mt-4" (click)="comprar()"><i class="czi-card font-size-lg mr-2"></i>Realizar Compra</a>
      </div>
    </aside>
  </div>
  <div *ngIf="update()"></div>
</div>
<!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted font-size-sm mr-2">Top</span><i class="btn-scroll-top-icon czi-arrow-up">   </i></a>
<!-- JavaScript libraries, plugins and custom scripts-->
  <script src="src/assets/js/vendor.min.js"></script>
  <script src="src/assets/js/theme.min.js"></script>
</html>
