<app-header-admin></app-header-admin>
<div class ="imagenFondo">
  <div class="container">
    <app-title text="Productos más vendidos por Productor"></app-title>
    <ul style="list-style-type:none;">
      <li *ngFor="let producer of hhtpService.tops[0].vendidos">
        <div class="container">
          <div class="center">
            <button class="bton" (click)="showReport(producer.productos, producer.nombre)">{{producer.nombre}}</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
