<!-- Modal HTML -->

<div [hidden]="hideModal" class="outer">
  <div class="middle">
    <div class="inner">
      <div class="modal-dialog modal-confirm">
        <div class="modal-content">
          <div class="modal-header">
            <div class="icon-box">
              <i class="material-icons">&#xE5CD;</i>
            </div>
            <h4 class="modal-title">Estás seguro?</h4>
          </div>
          <div class="modal-body">
            <p>Estás seguro que quieres eliminar esta categoria? Este proceso no puede ser revertido.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="whoDelete.emit()">Borrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

