<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<nav>
  <div class="nav-bg"></div>
  <ul>
    <li><a routerLink="/Productores" routerLinkActive="active" href="" class="btn btn-light btn-lg">Productores</a></li>
    <li><a (click)="openDialog()"  routerLinkActive="active" href="" class="btn btn-light btn-lg">Mi Cuenta</a></li>
    <li><a href="#" class="btn btn-light btn-lg">
      <span class="glyphicon glyphicon-shopping-cart"></span>Carrito
    </a></li>
    <li><a routerLink="/Home" routerLinkActive="active" href="" class="btn btn-light btn-lg">Cerrar Sesion</a></li>
  </ul>
</nav>
<div class="hero">
  <h1></h1>
</div>
<div class="content-wrapper">
  <h1></h1>
  <p></p>
</div>
