<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<app-header-principal></app-header-principal>
<div class ="imagenFondo">
  <div class="container">
    <form class="form-horizontal" role="form">
      <h2>Creacion de cuenta</h2>
      <div class="form-group">
        <label for="firstName" class="col-sm-3 control-label">Nombre*</label>
        <div class="col-sm-9">
          <input type="text" id="firstName" placeholder="Nombre" class="form-control" autofocus>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName" class="col-sm-3 control-label">Apellido*</label>
        <div class="col-sm-9">
          <input type="text" id="lastName" placeholder="Apellidos" class="form-control" autofocus>
        </div>
      </div>
      <div class="form-group">
        <label for="cedula" class="col-sm-3 control-label">Cedula*</label>
        <div class="col-sm-9">
          <input type="number" id="cedula" placeholder="Numero de cedula" class="form-control" autofocus>
        </div>
      </div>
      <div class="form-group">
        <label for="Provincia" class="col-sm-3 control-label">Provincia*</label>
        <div class="col-sm-9">
          <input type="text" id="Provincia" placeholder="Provincia" class="form-control" autofocus>
        </div>
      </div>
      <div class="form-group">
        <label for="Canton" class="col-sm-3 control-label">Canton*</label>
        <div class="col-sm-9">
          <input type="text" id="Canton" placeholder="Canton" class="form-control" autofocus>
        </div>
      </div>
      <div class="form-group">
        <label for="Distrito" class="col-sm-3 control-label">Distrito*</label>
        <div class="col-sm-9">
          <input type="text" id="Distrito" placeholder="Distrito" class="form-control" autofocus>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Email* </label>
        <div class="col-sm-9">
          <input type="email" id="email" placeholder="Email" class="form-control" name= "email">
        </div>
      </div>
      <div class="form-group">
        <label for="Usuario" class="col-sm-3 control-label">Usuario* </label>
        <div class="col-sm-9">
          <input type="text" id="Usuario" placeholder="Usuario" class="form-control" name= "Usuario">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Clave*</label>
        <div class="col-sm-9">
          <input type="password" id="password" placeholder="Password" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Confirme su clave*</label>
        <div class="col-sm-9">
          <input type="password" id="ConfirmPassword" placeholder="Password" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="birthDate" class="col-sm-3 control-label">Fecha de nacimiento*</label>
        <div class="col-sm-9">
          <input type="date" id="fechaNacimiento" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="phoneNumber" class="col-sm-3 control-label">Numero de Telefono* </label>
        <div class="col-sm-9">
          <input type="phoneNumber" id="phoneNumber" placeholder="Numero de telefono" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <span class="help-block">*Campos obligatorios</span>
        </div>
      </div>
      <button routerLink="/Home" routerLinkActive="active" type="submit" class="btn btn-primary btn-block">Crear Cuenta</button>
      <button routerLink="/Home" routerLinkActive="active" href="#" class="Cbtn btn-light btn-block">Volver</button>
    </form> <!-- /form -->
  </div> <!-- ./container -->
</div>
