<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<nav>
  <div class="nav-bg"></div>
  <ul>
    <li><a routerLink="/GestionProductores" routerLinkActive="active" href="" class="btn btn-light btn-lg">Productores</a></li>
    <li><a routerLink="/adminAfiliaciones" routerLinkActive="active" href="" class="btn btn-light btn-lg">Afiliaciones</a></li>
    <li><a routerLink="/GestionCategorias" routerLinkActive="active" href="" class="btn btn-light btn-lg">Categorias</a></li>
    <li><a routerLink="/VistaReportes" routerLinkActive="active" href="" class="btn btn-light btn-lg">Reportes</a></li>
  </ul>
</nav>
<div class="hero">
  <h1></h1>
</div>
<div class="content-wrapper">
  <h1></h1>
  <p></p>
</div>
