.container {
  height: 120px;
  width: auto;
  position: relative;
  border: 3px solid transparent;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.bton {
  color: lightgoldenrodyellow;
  border-radius: 4px;
  background: #5AADF2;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 540px;
  border: none;
  min-height: 68px;
  margin: 0 5px;
  outline: none !important;
  font-family: Helvetica, Serif, serif;
  font-size: 30px;
}
.imagenFondo {
  position: relative;
  height: 1200px;
  background: url("../../../../image/granja.jpg");
  background-size: cover;
}
