<app-header-admin></app-header-admin>

<app-title text="Vista de Reportes"></app-title>
<app-subtitle text="Reportes acerca del top 10 de distintas categorías"></app-subtitle>

<div class="container">
  <div class="center">
    <button class="bton" (click)="showReport(hhtpService.tops.tops.masVendidos, 'Más Vendidos')">Productos más vendidos</button>
  </div>
</div>
<div class="container">
  <div class="center">
    <button class="bton" (click)="showReport(hhtpService.tops.tops.masGanancias, 'Más ganancias')">Productos con más ganancias</button>
  </div>
</div>
<div class="container">
  <div class="center">
    <button class="bton" (click)="showReport(hhtpService.tops.tops.clientesMasCompras, 'Clientes con más compras')">Clientes con más compras</button>
  </div>
</div>
<div class="container">
  <div class="center">
    <button class="bton">Productos más vendidos por productor</button>
  </div>
</div>

